@import "./varables";

header {
  //   border: 1px solid red;
  font-weight: 900;
  font-size: 2rem;
  background-color: $card-color;
  padding: 7rem 0 0 2rem;
}

h1 {
  font-weight: 900;
}
