@import "./varables";

header {
  // border: 1px solid red;
  font-weight: 900;
  font-size: 2rem;
  background-color: $card-color;
  padding: 5rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

h1 {
  font-weight: 900;
  color: $text-color;
}
