@import "./varables";

.product {
  background-color: $card-color;
  padding: 1rem;
}

.drag-text {
  margin: 0 0 1rem 0;
  font-size: 0.8rem;
}

.drag-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-indicator-img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.product-model {
  margin: 0 2rem;
}

.product-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.product-name {
  font-weight: 900;
  line-height: 0.8;
  width: min-content;
}

.product-price {
  font-weight: 500;
  font-size: 1.5rem;
}

.product-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  font-weight: 500;
  font-size: 1rem;
}
