$background-color: #ded7c4;
$card-color: #efeae2;
$canvas-color: #f5f1ea;
$text-color: #3a312a;

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
